{
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"browser": true,
		"jquery": true
	},
	"globals": {
	},
	"rules": {
		"no-unused-vars": ["error",
			{ "vars": "local", "varsIgnorePattern": "eval" }
		]
	}
}